@model IEnumerable<DiceRoll.Models.DiceRoll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DieOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieTwo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DieOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DieTwo)
        </td>
    </tr>
}

</table>
